@{
    ViewData["Title"] = "About";
}
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="~/css/font-awesome.css" rel="stylesheet">
<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,300,300i,400,400i,500,500i,600,600i,700,800" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
<div class="top_header" id="home">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3ls_agileinfo">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo-w3layouts-agileits">
                    <h1> <a class="navbar-brand" href="index.html"><i class="fa fa-clone" aria-hidden="true"></i> RightSolutions4u <span class="desc"></span></a></h1>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_right_top">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="request" href="@Url.Action("Contact", "Menu")">Send Request</a></li>

                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("About", "Menu")">About</a></li>
                        <li><a href="@Url.Action("Portfolio", "Menu")">Portfolio</a></li>
                        <li class="active"><a href="@Url.Action("Contact", "Menu")">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What we do <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Portfolio", "Menu")">Projects</a></li>
                                <li><a href="404.html">Services</a></li>


                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    @section Banner {

    }
</div>

<div class="banner_inner_con">

</div>
<div class="banner_bottom">
    <div class="container">
        <h3 class="tittle-w3ls">About Us</h3>
        <div class="inner_sec_info_wthree_agile">
            <div class="help_full">

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="~/images/ab.png" alt=" " class="img-responsive">
                </div>
                <div class="col-md-6 banner_bottom_left">
                    <h4>Working to build a better solution for you</h4>
                    <p>
                        We believe in working together, share your Ideas, we’ll bring right solutions for you.
                    </p>
                    @*<p>
                            Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                            pulvinar neque pharetra ac.
                        </p>*@
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="news-main">
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>Web Applications</h4>
                            <p>We develop from simplest presentation websites to full-fledged web application. Present us with your unique needs. A personalized web solution is tailored to the way your business works and can thus improve every aspect of it, from efficiency to turnover.</p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>Mobile Apps</h4>
                            <p>we create commercial grade apps for Android that can further your company’s multi-platform, multi-device strategy. Rightsotutions4u offers full life cycle Android development services including mobile architecture, development, testing, deployment and maintenance.</p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner_bottom_left">
                <div class="banner_bottom_pos">
                    <div class="banner_bottom_pos_grid">
                        <div class="col-xs-3 banner_bottom_grid_left">
                            <div class="banner_bottom_grid_left_grid">
                                <span class="fa fa-newspaper-o" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-9 banner_bottom_grid_right">
                            <h4>Application Testing</h4>
                            <p>We specialize in Software Development Life Cycle (SDLC-Agile & Waterfall), involved in every phase of (SDLC): requirements gathering, data analyzing, system designing, coding, testing: system, unit, System Integration (SIT) and User Acceptance testing (UAT).</p>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
